@charset "UTF-8";

#animeImage {
    border: 3.5px solid rgb(255, 242, 0);
    border-radius: 10px;
    height: 100%;
    width: 45%;
}

#animeButton {
    background-color: rgba(247, 162, 5, 0.863);
    border: 3.5px solid rgb(255, 242, 0);
    border-radius: 10px;
    height: 25%;
    width: 60%;
}
