@charset "UTF-8";

#descriptionTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.texts {
    font-size: calc(1px + 2.2vmin);
}

.titles {
    font-size: calc(10px + 3vmin);
}
