@charset "UTF-8";

#titleDescription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#titleDescription h1 {
    font-size: calc(10px + 3vmin);
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

