@charset "UTF-8";

#descriptionTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.texts {
    font-size: 2.1vmin;
}

.titles {
    font-size: 5vmin;
}
