@charset "UTF-8";

#note {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#evaluation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
