@charset "UTF-8";

#evaluationTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#evaluationFormTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#evaluation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 60%;
    height: 100%;
    width: 100%;
}

#evaluationNote {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

#evaluationNote p {
    font-size: 7.5vmin;
}

#evaluationForm {
    height: 100%;
    width: 100%;
}

#evaluationForm form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#evaluationForm input {
    font-size: 4.5vmin;
    text-align: center;
    border-radius: 1vmin;
    height: 55%;
    width: 45%;
    min-width: 70px;
    outline: none;
    transition: 0.3s;
}

#evaluationForm input:focus {
    border: 0.5vmin solid rgb(255, 200, 0);
}

.texts {
    font-size: 2.1vmin;
}

.titles {
    font-size: 5vmin;
}

/*For vertical devices*/
@media(max-width: 1280px) {
    #evaluationNote p {
        font-size: 7vmin;
    }

    #evaluationForm input {
        font-size: 4.1vmin;
    }

    .titles {
        font-size: 4.1vmin;
    }
}

@media(max-width: 1000px) {
    #evaluationTitle {
        align-items: flex-end;
    }

    #evaluationForm input {
        font-size: 4.5vmin;
        text-align: center;
        border-radius: 10px;
        height: 45%;
        width: 45%;
    }

    #evaluationFormTitle {
        align-items: flex-end;
    }

    .titles {
        font-size: 35px;
    }
}

@media(max-width: 530px) {
    .titles {
        font-size: 25px;
    }

    #evaluationForm input {
        font-size: 20px;
    }

    #evaluationNote p {
        font-size: 35px;
    }
}

@media(max-width: 355px) {
    .titles {
        font-size: 15px;
    }

    #evaluationForm input {
        font-size: 18px;
    }

    #evaluationNote p {
        font-size: 25px;
    }
}

/*For horizontal devices*/
@media(max-width: 1000px) and (max-height: 500px) and (min-width: 500px){
    #evaluationNote p {
        font-size: 45px;
    }

    #evaluationForm input {
        font-size: 30px;
    }
}
