@charset "UTF-8";

#evaluationTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#evaluation {
    height: 100%;
    width: 100%;
}

#evaluationNote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

#evaluationNote p {
    font-size: calc(30px + 5vmin);
}

#evaluationForm {
    height: 40%;
    width: 100%;
}

#evaluationForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

#evaluationForm input {
    font-size: calc(15px + 1.8vmin);
    text-align: center;
    border-radius: 10px;
    height: 60%;
    width: 45%;
}

.texts {
    font-size: calc(10px + 0.9vmin);
}

.titles {
    font-size: calc(10px + 3vmin);
}
