@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

#base-div {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.4);
}

#left-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    padding: 0% 3%;
    flex: 1;
}

#right-side {
    display: grid;
    border: 1px solid black;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 60% 25%;
    flex: 1;
}

#section-description {
    height: 100%;
}

#section-evaluation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    height: 100%;
}