@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
}

#base-div {
    display: flex;
    flex-direction: row;
    height: 96%;
    width: 96%;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 2.2%;
}

#right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    padding: 1% 3%;
    flex: 1;
}

#left-side {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 60% 25%;
    flex: 1;
}

#section-description {
    height: 100%;
}

#section-evaluation {
    height: 100%;
}
