@charset "UTF-8";

#right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 40%;
    padding: 1% 3%;
    flex: 1;
}

#left-side {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 60% 25%;
    flex: 1;
}

#section-description {
    height: 100%;
}

#section-evaluation {
    height: 100%;
}

@media(max-width: 1000px) {

    #anime {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 65% 20%;
        width: 100%;
        height: 50%;
    }

    #description {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        height: 25%;
        padding: 0 10%;
    }

    #evaluation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 70%;
        height: 25%;
    }
}
