@charset "UTF-8";

#animeName {
    text-align: center;
}

#animeImage {
    background:rgb(0, 0, 0);;
    padding: 0.5%;
    border-radius: 2vmin;
    height: 98%;
    width: 45%;
    min-width: 140px;
    min-height: 190px;
    transition: 0.3s;
}

#animeImage:hover {
    background: linear-gradient(90deg, rgba(219,153,13,1) 0%, rgba(223,213,24,1) 25%, rgba(250,177,10,1) 50%, rgba(242,214,5,1) 75%, rgba(215,129,11,1) 100%);
}

#animeButton {
    background-color: rgb(40, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 2vmin;
    height: 25%;
    width: 60%;
    min-height: 30px;
    min-width: 170px;
    transition: 0.3s;
}

#animeButton:hover {
    color: black;
    background: linear-gradient(90deg, rgba(219,153,13,1) 0%, rgba(223,213,24,1) 25%, rgba(250,177,10,1) 50%, rgba(242,214,5,1) 75%, rgba(215,129,11,1) 100%);
}

#animeButton:active {
    color: black;
    background: linear-gradient(90deg, rgba(219,153,13,1) 0%, rgba(223,213,24,1) 25%, rgba(250,177,10,1) 50%, rgba(242,214,5,1) 75%, rgba(215,129,11,1) 100%);
}

.texts {
    font-size: 2.2vmin;
}

.titles {
    font-size: 4.5vmin;
}

/*For vertical devices*/
@media(max-width: 1220px) {
    #animeImage {
        width: 54%;
    }

    .titles {
        font-size: 4.1vmin;
    }
}

@media(max-width: 1000px) {
    #animeImage {
        width: 37%;
    }

    #animeButton {
        height: 35%;
    }

    .titles {
        font-size: 32px;
    }
}

@media(max-width: 530px) {
    #animeImage {
        height: 90%;
        width: 43%;
    }

    .titles {
        font-size: 22px;
    }

    .texts {
        font-size: 12px;
    }
}

@media(max-width: 355px) {

    .titles {
        font-size: 13px;
    }

    .texts {
        font-size: 12px;
    }
}

/*For horizontal devices*/
@media(max-width: 1000px) and (max-height: 500px) and (min-width: 500px) {
    .texts {
        font-size: 15px;
    }
}
