@charset "UTF-8";

#descriptionTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: justify;
}

.texts {
    font-size: 2.2vmin;
}

.titles {
    font-size: 5vmin;
}

/*For vertical devices*/
@media(max-width: 1280px) {
    .titles {
        font-size: 4.1vmin;
    }

    .texts {
        font-size: 2.08vmin;
    }
}

@media(max-width: 1000px) {
    .titles {
        font-size: 35px;
    }
}

@media(max-width: 530px) {
    .titles {
        font-size: 25px;
    }

    .texts {
        font-size: 9.6px;
    }
}

@media(max-width: 355px) {
    .titles {
        font-size: 15px;
    }

    .texts {
        font-size: 8.5px;
    }
}

/*For horizontal devices*/
@media(max-width: 1000px) and (max-height: 500px) and (min-width: 500px) {
    .texts {
        font-size: 16.5px;
    }
}
